
div {
	padding: 5px;
}

canvas {

	border: 2px solid black;
	/* display: inline; */
	/* height:100%; */
	/* min-height: 100%; */
	/* width:100%; */
	position: fixed;
	
	/* background: lime; */
	/* overflow:auto; */
	z-index: 5;
	cursor: none;
}
